/*resets browser defaults*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*responsive images*/
img {
    width: 100%;
    height: auto;
}

.img-container {
    position: relative;
}

/*sets rem size*/
html {
    font-size: 10px;
    background: black;
}

.logo {
    margin-left: 1rem;
    color: white;
    font-size: 1rem;
}

header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.bg-img {
    z-index: -1;
    opacity: .5;
}

#logotitle {
    font-weight: regular;
    color: white;
    float: left;
    padding: 2rem;
    font-size: 2rem;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
}

.navlink {
    color: white;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    width: 100%;
    overflow: hidden;
    height: 5rem;
}

.navlink:hover {
    color: royalblue;
}

.navlink::selection {
    color: royalblue;
}

.login {
    background: black;
    border: .1rem solid royalblue;
    margin: .5rem;
    border-radius: 5%;
    padding: 1rem 2rem;
    width: 100%;
}

.signup {
    background: royalblue;
    border: .1rem solid royalblue;
    margin: .5rem;
    border-radius: 5%;
    padding: 1rem 2rem;
    width: 100%;
}

.login:hover, .signup:hover {
    opacity: 0.8;
    cursor: pointer;
}
.logsign {
    color: white;
    text-decoration: none;
}

section {
    color: white;
}

.blushrk {
    background: linear-gradient(to right, #1E90FF, #9CFF1E);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tradebnr {
    width: 50%;
    margin: 5rem;
    position: absolute;
    top: 35%;
    left: 15%;
    transform: translate(-50%, -50%);
    background-color: #000;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
    opacity: 0.8;
}

.trade-title {
    font-size: 3rem;
    padding: 1rem;
}

.trade-text {
    font-size: 1.5rem;
    margin: auto;
    padding: 7rem;
}

.register {
   background: royalblue;
   border-radius: 5rem;
   padding: 1.5rem;
   color: #fff;
   margin: 2rem 0 2rem 0;
}

.register:hover {
    opacity: 0.8;
    cursor: pointer;
}

.register-link {
    color: #fff;
    padding: 2rem;
    text-decoration: none;
}

.journey {
    text-align: center;
    letter-spacing: .3rem;
    font-size: 3rem;
}

.focals {
    display:  inline-flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem;
    margin: 3rem;
    background: #1D1D1D;
    width: 45%;
    border-radius: 1rem;
}

.pointhead {
    font-size: 200%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pointinfos {
    padding: .3rem;
    font-size: 150%;
}

.lpbanner {
    margin-top: 20rem;
    height: 10rem;
    width: 100%;
    opacity: .8;
    z-index: -1;
    position: relative;
}

#lpbflex {
    width: 100%;
    display: inline-flex;
    justify-content: right;
    align-items: right;
    position: absolute;
    top: 25rem;
    right: -60rem;
    margin: auto;
    transform: translate(-50%, -50%);
}

.lpbdetail {
    color: #fff;
    width: 100%;
    font-size: 2rem;
}

.lpbitem {
    width: 33%;
    text-align: center;
}

.lpbfocus {
    border-right: .1rem solid #fff;
    border-left: .1rem solid #fff;
}

.course {
    text-align: center;
    font-size: 3rem;
    margin: 10rem auto 5rem auto;
}

.course-container {
    background: #151515;
    width: 60%;
    border: .1rem solid rgb(123, 123, 123);
    border-radius: 2.5rem;
    display: inline-flex;
    margin-left: 30%;
    margin-bottom: 5rem;
}

.course-container2 {
    background: #151515;
    width: 60%;
    border: .1rem solid rgb(123, 123, 123);
    border-radius: 2.5rem;
    display: inline-flex;
    margin-left: 10%;
    margin-bottom: 5rem;
}

.course-hdr {
    font-size: 2.75rem;
    padding: 1rem;
    margin-right: 17.5rem;
    width: 100%;
}

.course-hdr2 {
    font-size: 2.75rem;
    padding: 1rem;
    margin-left: 5rem;
    width: 100%;
}

.course-text {
    font-size: 1.5rem;
    padding: 1rem;
    width: 100%;
    line-height: 200%;
}

.course-text2 {
    font-size: 1.5rem;
    padding: 1rem;
    width: 150%;
    line-height: 200%;
    margin-left: 5rem;
}

.course-img {
    width: 50rem;
    margin-top: 5rem;
    margin-left: -10rem;
    margin-right: 5rem;
    border-radius: 2.5rem;
}

.course-img2 {
    width: 50rem;
    margin-top: 5rem;
    margin-right: -10rem;
    border-radius: 2.5rem;
}

.course-section {
    margin-top: 3rem;
    margin-right: 20rem;
}

@media screen and (max-width: 60rem) {

    nav {
        margin-left: -2.5rem;
    }

    .logsign-block {
        margin-left: -1rem;
    }

    .navlink {
        font-size: 1.35rem;
    }
    
    .tradebnr {
        top: 30%;
    }

    .trade-title {
        font-size: 2rem;
        padding: 1rem;
    }
    
    .trade-text {
        font-size: 1rem;
        padding: 3rem;
    }

    .focals {
        right: 0;
        margin: 1rem;
        padding: .5rem;
    }

    #lpbflex {
        right: -25rem;
        font-size: 1.5rem;
    }

    .course-img {
        width: 20rem;
        margin-top: 10rem;
        margin-left: 0;
    }

    .course-img2 {
        width: 20rem;
        margin-top: 10rem;
        margin-left: 4.5rem;
    }

    .course-section {
        margin-left: -5rem;
        margin-right: 0;
        width: 60%;
    }

    .course-container {
        margin-left: 2rem;
        width: 95%;
    }

    .course-container2 {
        width: 95%;
        margin-left: 2rem;
    }

    .course-text2 {
        width: 90%;
    }

}