/*resets browser defaults*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*responsive images*/
img {
    width: 100%;
    height: auto;
}

.img-container {
    position: relative;
}

/*sets rem size*/
html {
    font-size: 10px;
    background: black;
}

.logo {
    margin-left: 1rem;
    height: 5rem;
    width: 5rem;
}

header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.bg-img {
    z-index: -1;
    opacity: .5;
}

#logotitle {
    font-weight: regular;
    color: white;
    float: left;
    padding: 5rem;
    font-size: 1.75rem;
    width: 100%;
    margin-right: 20rem;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 25rem;
}

.navlink {
    color: white;
    padding: 7rem;
    font-size: 1.5rem;
    text-decoration: none;
    width: 100%;
    height: 4rem;
    font-weight: normal;
    /*keep link text on same line*/
    white-space: nowrap;
}

.navlink:hover {
    color: royalblue;
}

.navlink::selection {
    color: royalblue;
}

.login {
    background: black;
    border: .1rem solid royalblue;
    margin: .5rem;
    border-radius: 5%;
    padding: 1rem 2rem;
    width: 100%;
}

.signup {
    background: royalblue;
    border: .1rem solid royalblue;
    margin: .5rem;
    border-radius: 5%;
    padding: 1rem 2rem;
    width: 100%;
}

.login:hover, .signup:hover {
    opacity: 0.8;
    cursor: pointer;
}
.logsign {
    color: white;
    text-decoration: none;
}

.logsign-block {
    display: inline-flex;
    margin-right: 5rem;
}

section {
    color: white;
}

.blushrk {
    background: linear-gradient(to right, #1E90FF, #9CFF1E);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tradebnr {
    width: 50%;
    height: 45%;
    margin: 5rem 0 0 5rem;
    position: absolute;
    top: 35%;
    left: 15%;
    transform: translate(-50%, -50%);
    background-color: #000;
    color: #fff;
    padding: 5rem 2rem 2rem 10rem;
    text-align: center;
    opacity: 0.8;
}

.trade-title {
    font-size: 3rem;
    padding: 1rem;
}

.trade-text {
    font-size: 1.5rem;
    margin: auto;
    padding: 7rem;
}

.register {
   background: royalblue;
   border-radius: 5rem;
   border: none;
   border-bottom: .3rem solid #1D1D1D;
   padding: 1rem 2rem;
   color: #fff;
   margin: 2rem 0 2rem 0;
}

.register:hover {
    opacity: 0.8;
    cursor: pointer;
}

.register-link {
    color: #fff;
    padding: 2rem;
    text-decoration: none;
}

.journey {
    text-align: center;
    letter-spacing: .3rem;
    font-size: 3rem;
}

.focals {
    display:  inline-flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem;
    margin: 3rem;
    background: #1D1D1D;
    width: 45%;
    border-radius: 1rem;
}

.pointhead {
    font-size: 200%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pointinfos {
    padding: .3rem;
    font-size: 150%;
}

.lpbanner {
    margin-top: 20rem;
    height: 15rem;
    width: 100%;
    opacity: .8;
    z-index: -1;
    position: relative;
}

#lpbflex {
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 27.5rem;
    right: -100rem;
    margin: auto;
    transform: translate(-50%, -50%);
}

.lpbhdr {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
}

.lpbdetail {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
}

.lpbfocus {
    border-right: .1rem solid #fff;
    border-left: .1rem solid #fff;
    padding: 1rem;
    text-align: center;
}

.course {
    text-align: center;
    font-size: 3rem;
    margin: 10rem auto 5rem auto;
    letter-spacing: .3rem;
    font-weight: bold;
}

.course-container {
    background: #151515;
    width: 60%;
    border: .1rem solid rgb(123, 123, 123);
    border-radius: 2.5rem;
    display: inline-flex;
    margin-left: 30%;
    margin-bottom: 5rem;
}

.course-container2 {
    background: #151515;
    width: 60%;
    border: .1rem solid rgb(123, 123, 123);
    border-radius: 2.5rem;
    display: inline-flex;
    margin-left: 10%;
    margin-bottom: 5rem;
}

.course-hdr {
    font-size: 2.75rem;
    padding: 1rem;
    margin-right: 17.5rem;
    width: 100%;
}

.course-hdr2 {
    font-size: 2.75rem;
    padding: 1rem;
    margin-left: 5rem;
    width: 100%;
}

.course-text {
    font-size: 1.5rem;
    padding: 1rem;
    width: 100%;
    line-height: 200%;
}

.course-text2 {
    font-size: 1.5rem;
    padding: 1rem;
    width: 150%;
    line-height: 200%;
    margin-left: 5rem;
}

.course-img {
    width: 50rem;
    margin-top: 5rem;
    margin-left: -10rem;
    margin-right: 5rem;
    border-radius: 2.5rem;
}

.course-img2 {
    width: 50rem;
    margin-top: 5rem;
    margin-right: -10rem;
    border-radius: 2.5rem;
}

.course-section {
    margin-top: 3rem;
    margin-right: 20rem;
}

.course-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80rem;
}

.fa-circle-check {
    color: lightgreen;
}

.content-div {
    background: #1D1D1D;
    padding: 1rem;
    margin: 1rem 1rem 1rem 2rem;
    width: 47.5%;
    border-radius: 2.5rem;
}

.content-p {
    padding: 1rem;
    font-size: 1.5rem;
}

.premium {
    background: #1D1D1D;
    width: 40%;
    border-top: .1rem solid royalblue;
    border-right: .1rem solid royalblue;
    border-bottom: .1rem solid rgb(123, 123, 123);
    border-left: .1rem solid rgb(123, 123, 123);
    border-radius: 2.5rem;
    margin: 1rem;
    margin-left: 8.5%;
    padding: 2rem;
}

.freemium {
    background: #1D1D1D;
    width: 40%;
    border-radius: 2.5rem;
    margin: 1rem;
    padding: 2rem;
    height: 80%;
}

.plan-container {
    display: inline-flex;
    width: 100%;
}

.plan-hdr {
    margin: 1rem;
    font-size: 2.5rem;
    font-weight: normal;
}

.plan-cost {
    margin: 1rem;
    font-size: 4rem;
    font-weight: normal;
}

.start {
    background: royalblue;
    width: 100%;
    border: none;
    border-radius: .5rem;
    padding: 1rem;
}

.start-link {
    text-decoration: none;
    color: #fff;
}

.start:hover, .start-link:hover {
    opacity: .8;
}
.plan-details {
    padding: 1rem;
    font-size: 1.25rem;
}

.banner-container {
    position: relative;
}

#bannerflex {
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 27.5rem;
    right: -100rem;
    margin: auto;
    transform: translate(-50%, -50%);
}

.bannerhdr, .bannerdetail {
    color: white;
}

.bannerhdr {
    font-size: 2.5rem;
}

.bannerdetail {
    font-size: 1.5rem;
    text-align: center;
}

.bannerfocus {
    border-right: .1rem solid #fff;
    border-left: .1rem solid #fff;
    padding: 1rem;
}



@media screen and (max-width: 77rem) {

    header {
        width: 100%;
    }
    
    #logotitle {
        font-size: 1.5rem;
        padding: 3rem;
    }

    .navlink {
        padding: 5rem;
    }

    .logsign-block {
        margin-left: 4rem;
        margin-right: 3rem;
    }

    nav {
        display: inline-flex;
        margin-right: 15rem;
    }

    .navlink {
        width: 100%;
        margin: 0;
        font-size: 1.35rem;
    }

    .trade-title {
        font-size: 2rem;
    }
    
    .trade-text {
        font-size: 1rem;
    }

    .focals {
        right: 0;
        margin: 1rem;
        padding: .5rem;
    }

    #lpbflex {
        right: -37.5rem;
        font-size: 1.5rem;
    }

    .course-img {
        width: 20rem;
        margin-top: 10rem;
        margin-left: 0;
    }

    .course-img2 {
        width: 20rem;
        margin-top: 10rem;
        margin-left: 4.5rem;
    }

    .course-section {
        margin-left: -5rem;
        margin-right: 0;
        width: 60%;
    }

    .course-container {
        margin-left: 2rem;
        width: 95%;
    }

    .course-container2 {
        width: 95%;
        margin-left: 2rem;
    }

    .course-text2 {
        width: 90%;
    }

    .content-div {
        width: 45%;
        margin: .5rem .5rem .5rem 1rem;
        padding: .5rem;
    }

    #bannerflex {
        right: -37.5rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 48rem) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .logo {
        height: 3rem;
        width: 3rem;
        margin-left: .5rem;
    }
    
    #logotitle {
        font-size: 1rem;
        padding: 1rem;
        margin-right: 0;
    }

    nav {
        margin-right: 0;
        margin-left: 0;
    }
    
    .navlink {
        font-size: 1.15rem;
        padding: 1rem;
    }

    .login, .signup {
        margin: 0;
    }

    .tradebnr {
        top: 30%;
        height: auto;
        padding: 0;
    }

    .trade-title {
        font-size: 2rem;
        padding: 0;
    }

    .trade-text {
        padding: 1rem;
        font-size: 1rem;
    }

    .login, .signup {
        width: 80%;
        padding: 0.25rem;
        font-size: 1.25rem;
    }

    #lpbflex {
        width: 45rem;
        margin-right: 20rem;
    }

    .lpbitem {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .lpbhdr {
        font-size: 1.75rem;
    }

    .lpbdetail {
        font-size: 1.25rem;
    }

    .course-container, .course-container2 {
        width: 100%;
        margin-left: 0;
    }

    .course-section {
        width: 50%;
    }

    .premium, .freemium {
        width: 50%;
        margin: 0;
    }

    #bannerflex {
        width: 45rem;
        margin-right: 20rem;
    }

    .bannerhdr {
        font-size: 1.75rem;
        text-align: center;
    }

    .bannerdetail {
        font-size: 1.25rem;
    }
}